# Set Up Environment

## Ubuntu/Python3

## LISTS

In [175]:
a = [0,1,10,3,4] #defining a list
a[0] #accesing elements

0

In [176]:
a[2] = 2 #assignment
a

[0, 1, 2, 3, 4]

In [177]:
a.append(5) #appending to a list

In [178]:
a

[0, 1, 2, 3, 4, 5]

In [179]:
a.extend([6,7,8]) #extending a list by more than one element

In [180]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [181]:
a.insert(9,9) #using insert function to add element

In [182]:
a #current list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [183]:
a.reverse() #reversing list
a

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [184]:
for i in a: #using for loops on list 1
    print(i)

9
8
7
6
5
4
3
2
1
0

In [185]:
for i in range(len(a)): #using for loops on list 2
    print(a[i])

9
8
7
6
5
4
3
2
1
0

In [186]:
a[0:1] #list splicing

[9]

In [187]:
a[1:] #every element after the first one

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [188]:
a[:3] #every element till the 3rd one

[9, 8, 7]

In [189]:
a[::2] #step of 2

[9, 7, 5, 3, 1]

In [190]:
a[::3] #step of 3

[9, 6, 3, 0]

In [191]:
a[::-1] #reverse list using list splicing

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [192]:
a[1:5:2] #1st to 5th element, 2 steps

[8, 6]

In [193]:
2 in a #check if exists

True

In [194]:
10 not in a #check if not exists

True

In [195]:
len(a) #length of list

10

In [196]:
a.remove(9) #remove function removes element
a

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [197]:
a.pop() #removes the last element 
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [198]:
del a[0] #deletes the element at that index
a

[7, 6, 5, 4, 3, 2, 1]

In [199]:
del a #delete the list

In [200]:
a = [1,9,5,2,3,6,7,8,4]
a.sort() #sorts the list
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [201]:
del a #del list

## DICTIONARY

In [202]:
a = {
    "1":"hello",
    "2":"world"
}
a #dictionary in python

{'1': 'hello', '2': 'world'}

In [203]:
x = a["1"] #accesing values 1
x

'hello'

In [204]:
y = a.get("2") #accessing values 2
y

'world'

In [205]:
a["2"]="programmer" #reassigning values
a

{'1': 'hello', '2': 'programmer'}

In [206]:
for i in a: #for loop 1
    print(i)

1
2

In [207]:
a.keys() #accesing all the keys

['1', '2']

In [208]:
for i in a:
    print(a[i])

hello
programmer

In [209]:
a.values() #accessing all the values

['hello', 'programmer']

In [210]:
for i in a.values():
    print(i)

hello
programmer

In [211]:
a.items() #creates tuples of each item in dict

[('1', 'hello'), ('2', 'programmer')]

In [212]:
for i,j in a.items():
    print(i,j)

('1', 'hello')
('2', 'programmer')

In [213]:
"1" in a #check if key "1" exists in dict

True

In [214]:
"1" not in a #check if key "1" does not exists in dict

False

In [215]:
len(a) #len of dict

2

In [216]:
a["3"]="welcome" #adding to the dict
a

{'1': 'hello', '2': 'programmer', '3': 'welcome'}

In [217]:
a.pop("3") #removing from the dict
a

{'1': 'hello', '2': 'programmer'}

In [218]:
a.popitem() #removes last inserted item
a

{'2': 'programmer'}

In [219]:
del a["2"] #del from the dict

In [220]:
a #empty dict

{}

In [221]:
del a #del the dict